@main("About") {
    
<article>
    <header>
        <h1>About</h1>
    </header>
    <aside>
        <img src="@routes.Assets.at("images/about-aside.jpg")" alt="Jacob Rhodes" />
    </aside>
    
    <p>
        Stepping Stones is a recovery based, twelve step, transitional living for men. We're dedicated to helping men 
        achieve a foundation in sobriety; to gaining the necessary skills to live a successful life. We do this through 
        the assistance of many different self-help organizations. We also believe that peer support is one of the most 
        contributing factors in long term recovery from addiction. To achieve this we have an innovative house structure 
        which promotes an atmosphere of growth in personal relationships. Mainly by organizing and participating in 
        group functions with the other clients in the house. Furthermore, we fellowship with other reputable sober 
        living homes in the area, as a testament to never having to fight this disease alone.
    </p>

    <p>
        My name is Jacob Rhodes. As owner of Stepping Stones I would like to note that I have had my battles with addiction. 
        I know what it takes to live a clean and sober life. Participation in a self -help group was the way out for me. 
        Moreover, I have recovered from a seemingly hopeless state of mind and body, and have now dedicated my life to 
        combating the disease of addiction. I am currently enrolled in college studying to become a drug and alcohol 
        counselor. Working with other drug addicts and alcoholics is one of the most rewarding aspects of my life, next to my 
        wonderful family.
    </p>
    <p>
        Stepping Stones, located about one block away from Oxnard College, in the south Oxnard. It is strategically located 
        away from the inner city. We reside in a quite community. We feel this gives the clients a geographic advantage to 
        focusing on their recovery. At the same time promoting a safe and comforting environment, in which clients can 
        recover their health and sanity.
    </p>
</article>

    
}
