@main("Location") {

<article>
    <header>
        <h1>Location</h1>
    </header>

    <aside>
        <iframe width="300" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4700+Reeder+Ave.+Oxnard,+CA+93030&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.235538,90.966797&amp;ie=UTF8&amp;hq=&amp;hnear=4700+Reeder+Ave,+Oxnard,+California+93033&amp;ll=34.16892,-119.1469&amp;spn=0.030181,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4700+Reeder+Ave.+Oxnard,+CA+93030&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.235538,90.966797&amp;ie=UTF8&amp;hq=&amp;hnear=4700+Reeder+Ave,+Oxnard,+California+93033&amp;ll=34.16892,-119.1469&amp;spn=0.030181,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </aside>

    <div itemscope itemtype="http://schema.org/Place">
        <div>Jacob Rhodes</div>
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div itemprop="streetAddress">4700 Reeder Ave.</div>
            <span itemprop="addressLocality">Oxnard</span>,
            <span itemprop="addressRegion">CA</span>
            <span itemprop="postalCode">93030</span>
            <div>
            <strong>tel</strong>: <span itemprop="telephone">(805) 223-9174</span>
            </div>
            
        </span>
    </div>
</article>


}
