@main("Photos") {

<article>
    <header>
        <h1>Photos</h1>
    </header>

    <section>
        <ul>
            <li>
                <a href="@routes.Assets.at("images/property/outside-2.png")" rel="prettyPhoto" title="Outside Path">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/outside-2.png")" alt=""/>
                </a>
                <div>Outside Path</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/outside.png")" rel="prettyPhoto" title="Outside Path">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/outside.png")" alt=""/>
                </a>
                <div>Outside Door</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/living.png")" rel="prettyPhoto" title="Living Room">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/living.png")" alt=""/>
                </a>
                <div>Living Room</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/office.png")" rel="prettyPhoto" title="Computer">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/office.png")" alt=""/>
                </a>
                <div>Computer</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/bathroom.png")" rel="prettyPhoto" title="Restroom">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/bathroom.png")" alt=""/>
                </a>
                <div>Restroom</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/dinning.png")" rel="prettyPhoto" title="Dinning Room">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/dinning.png")" alt=""/>
                </a>
                <div>Dinning Room</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/kitchen.png")" rel="prettyPhoto" title="Kitchen">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/kitchen.png")" alt=""/>
                </a>
                <div>Kitchen</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/kitchen-2.png")" rel="prettyPhoto" title="Kitchen (2)">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/kitchen-2.png")" alt=""/>
                </a>
                <div>Kitchen (2)</div>
            </li>
            <li>
                <a href="@routes.Assets.at("images/property/workout.png")" rel="prettyPhoto" title="Backyard Workout">
                    <img style="padding:0;" src="@routes.Assets.at("images/property/thumb/workout.png")" alt=""/>
                </a>
                <div>Backyard Workout</div>
            </li>
        </ul>
    </section>
</article>

}
