@main("Rules") {

<article>
    <header><h1>Rules</h1></header>

    <strong>MISSION STATEMENT</strong>
    <ul>
        <li>To provide a safe, clean, sober living environment for recovery from drug and alcohol addiction</li>
        <li>Our goal is to help you cultivate the skills needed to
          maintain a healthy sober lifestyle through an Active
          Recovery Process focused on responsibility, community, and service.</li>
    </ul>
    <strong>ACTIVE RECOVERY</strong>
    <p>Clients must by actively involved in their own recovery including:</p>

    <ol>
        <li><u>Meeting Attendance</u> - mandatory house meetings and outside meetings</li>
        <li><u>Working with a Sponsor</u> - mandatory sponsor within the first 30 days or restriction will occur</li>
        <li><u>Working the 12 Steps</u> - checking in weekly with progress through the steps</li>
        <li><u>Being of Service</u> - through meeting commitments, helping house brothers, etc.</li>
    </ol>

    <strong>ZERO TOLERANCE POLICY</strong>

    <p>
        Clients must be involved in an Active Recovery Process. Abstinence from all mind-altering chemicals is 
        mandatory. All clients will strive for a zero tolerance against drug and/or alcohol usage. Anyone 
        caught using drugs, alcohol, or any other form of mind altering substances will be excited immediately 
        from the Stepping Stones House Program. Please read the Drug Testing Policy posted in the house. Stealing 
        of food, personal items, etc. or use of another person's items without permission will also result in expulsion 
        from the program.
    </p>

    <p>
        <em>RELIGION</em>- This is a recovery home, not a religious program. Please consider differences in spiritual 
        beliefs and practices. Do not make assumptions or force your beliefs upon others.
    </p>

    <p>
        <em>GANG</em>- No gang activity or gang related behavior (including racial slurs, neighborhood graffiti, 
        etc. This is a recovery home, not a prison yard! No weapons of any kind-NO EXCEPTIONS. Any violations 
        will lead to expulsion.
    </p>

    <p>
        <em>Parole/Probation</em>- Agent contact does occur. &quot;When asked&quot; a progress report will be given.    
    </p>

    <p>
        <em>Random Urine Analysis Drug Testing</em>- Any refusal or positive test is an automatic exit from the program. No exceptions-you use, you lose.
    </p>


    <strong>FIRST 30 DAYS</strong>
    <p>
        Clients with less than 30 days in the Stepping Stones Program must check-in at 6:30 p.m. Monday through Friday. 
        Residents may not leave after 6:30 p.m. check-in without approval from the House Manager. Clients are to be working, 
        looking for work, going to school, attending meetings etc. during this time. 
    </p>

    <p>
        <em>Saturdays</em>- Must be in house unless checked out by Sponsor or House Buddy.
    </p>
    <p>
        <em>Sundays</em>- Must be in house unless checked out by
        Sponsor or House Buddy or on a &quot;Family Pass.&quot; Attend
        our Mandatory Sunday House Meeting and Dinner at 6:00 p.m.
    </p>

    <strong><em>No sponsor within the first 30 days</em></strong>
    <p>
        House Restriction will remain in effect until sponsorship is acquired. This includes: Extra chores, 
        NO weekend pass, NO family visits. If 45 days pass and you still have no sponsor, you will be considered 
        a non-serious member of recovery and asked to exit the program.
    </p>
    
    <strong>OVER 30 DAYS</strong>
    <p>
        Clients with over 30 days in the program have the following curfew: Sunday through Thursdays 11:00 p.m. 
        Friday and Saturday 12:00 (midnight). Clients are still required to attend House Meeting and at  least three 
        outside meetings weekly.
    </p>


    <strong>MEDICATIONS</strong>
    <p>
        <u>Any prescribed medication</u> must be listed on your intake paperwork and turned into Administrative Staff during 
        your intake for approval. Medication will be kept locked up and dispensed only by staff. It is the 
        <u>client's responsibility</u> to get any needed refills on his medications. The following medications are <u>NOT 
        permitted</u> at Stepping Stones: <u>Opiates, Codeine, Vicodin, Morphine, Methodone, Valium, Barbituates, 
        Benzodiazepines, nor any other habit-forming medications</u>. There are also many &quot;over-the counter-medications&quot; 
        that will cause a &quot;dirty&quot; drug test.
    </p>

    <strong>MEETING ATTENDANCE</strong>
    <p>
        Participation in the Recovery Program of Alcoholics Anonymous (AA) or Narcotics Anonymous (NA) is essential. 
        <u>Verification of AA/NA attendance is mandatory for the first 30 days</u> and can be obtained by placing your 
        meeting slip in the 7th tradition basket as it is being passed around in every meeting. After the first 
        30 days clients are on the &quot;honor system.&quot; Forging of meeting cards will result in loss of privileges and 
        extension of 30-day restrictions.    
    </p>

    <p>
        Clients must attend meetings during the day unless they are working, in which case them may attend an 
        AA or NA meeting in the evening after 6:30 p.m. Clients who are &quot;restricted&quot; to the house for the weekend for 
        not adhering to House Rules can still work. However, clients must be back for 6:30 p.m. check-in.    
    </p>


    <strong>MANDATORY MEETINGS</strong>
    <p>
        There are 2 mandatory House Meetings that all clients and staff must attend.
    </p>

    <ol>
        <li>Tuesdays at 7:30p.m.- Step Study/Book Study</li>
        <li>Sundays at 7:30p.m.-House Issues and Recovery Check-In</li>
    </ol>

    <strong>DAILY CHECK-IN/CHORE</strong>
    <p>
        Daily Check-in at 6:30 unless you are working. You must call to notify the house manager if your will be 
        late or you will receive extra chores. If tardiness continues, you will be exited from the program. 
        Clients with over 30 days do not have a 6:30 check-in on Saturdays and may leave Saturday morning to return no 
        later than 11:55 for midnight curfew. Chores assigned by staff will also be done at 6:30. Every other Sunday, 
        &quot;thorough cleaning&quot; chores are done at 6p.m.    
    </p>


    <strong>LIGHTS</strong>
    <p>
        All lights must be turned off after leaving an area. Extra chores will be assigned to 
        anyone who does not follow this rule.
    </p>


    <strong>HOUSE OFF-LIMITS</strong>
    <p>
        The house is off limits Monday-Friday from 10:00 a.m.-3:00 p.m. Clients should be working, looking for work, 
        going to school, or attending meetings. Clients are permitted to come home for days off work. NO TV AND NO 
        VISITORS between 10:00 a.m. and 3:00 p.m.     
    </p>

    <strong>VISITING POLICY</strong>
    <p>
        ALL visitors must be actively clean and sober. Visitors are welcome in the living/dining room areas 
        and back yard only. They are not allowed in bedrooms or the TV room. TV room is for residents only    
    </p>
    <p>
        <em>Weekdays</em>- Only Recovery related visitors permitted (Sponsor, NA/AA participants etc.)
    </p>
    <p>
        <em>Weekends</em>-Family and friends may visit, but please be considerate of other residents and limit visit to two hours.
    </p>

    <p>
        <strong><em>NO OVERNIGHT GUESTS-PERIOD </em></strong>-Anyone caught sneaking anyone in/out will be exited from the program.
    </p>

    <strong>MEETING ATTENDANCE SHEET</strong>
    <p>
        It is the responsibility of each client to use the meeting attendance sheet. Failure to do so can result in 
        a &quot;House Restriction&quot; (HR) for the following weekend. If late for any of the required check-ins, please call.
    </p>


    <strong>SPONSOR PASS</strong>
    <p>
        Sponsor passes are available from the House Manager for clients in their first 30 days who want to meet with 
        their sponsor away from Stepping Stones. The sponsor must be introduced to staff initially. Passes must be 
        filled out completely and correctly and turned in ahead of time for approval. <u>A pass does not exclude a client 
        from check-in time, mandatory meetings, or chores</u>.
    </p>


    <strong>SMOKING</strong>
    <p>
        Ashtrays are provided and must be used. Use of anything other than an ashtray will result 
        in the loss of privileges and additional chores.
    </p>

    <strong><em>SMOKING IN THE HOUSE WILL RESULT IN IMMEDIATE EXPULSION</em></strong>
    <p>There is NO exception to this rule.</p>
    
    <strong>SUPER SCRUB</strong>
    <p>
        In addition to daily chores, there is a Sunday afternoon cleaning time from 6-7 p.m. &quot;Super Scrub&quot; is a 
        more detailed cleaning than regular chores. Follow your house manager's direction for exact instructions about 
        the task you will be doing. Failure to attend Super Scrub can result in expulsion.
    </p>

    <strong>KITCHEN & FOOD</strong>
    <p>
        No meals or food items are provided by Stepping Stones. Clients may use the kitchen, but are responsible for clean 
        up, storage, and disposal of all food items and clean up of kitchen area. Failure to clean dishes or kitchen after 
        use will result in loss of privileges. NO FOOD allowed in bedrooms or living room. Personal food items left out 
        will be disposed of. Refrigerator must be maintained at all times (dispose of old food). Do not eat another person's 
        food. Everyone has  a designated area.
    </p>

    <strong>LAUNDRY</strong>
    <p>
        Clients are permitted to use on –site laundry facilities. Laundry left unattended will be moved. Lint trap must 
        be cleaned after each use. No laundry is to be started after 8 p.m.
    </p>

    <strong>TELEVISION</strong>
    <p>
        Televisions are to be turned off between 10 a.m. and 3 p.m. and during Check-In/Chore Time. TVs are to be turned 
        off by 1:00 a.m. Volume must be kept at a reasonable level at all times. If the privilege is abused, TV will be 
        removed. Portable DVD players may be used with headphones, providing consideration for roommates. Staff must 
        approve exceptions to this rule.
    </p>
    
    <strong>PARKING OF VEHICLES</strong>
    <p>
        Clients intending to drive any vehicle while staying at Stepping Stones <u>must provide proof of valid Driver's 
        License, Registration, and Insurance</u> for any vehicle parked on or near the property.
    </p>

    <strong>PERSONAL HYGEINE</strong>
    <p>
        Residents are expected to maintain good personal hygiene: shower daily, brush teeth etc., out of 
        consideration to house mates.
    </p>

    <strong>PERSONAL ITEMS</strong>
    <p>
        You must have permission to bring nay other items into house other than clothes and hygiene products. 
        No radios. No TVs. (iPODs o.k.)Everything must have ear phones. Cell phones are only allowed when used in a respectful manner. All personal hygiene products and laundry detergent etc. must be put away at all times. If you make a mess, you must immediately clean up after yourself. Any personal items left behind as a result of an exit or a no-show will be disposed of or donated after 24 hours. Stepping Stones or its staff will not be responsible for any personal items, food, cars, etc. It is the responsibility of the client who signs this agreement to make arrangements within a 24 hour period.
    </p>

    <strong>RENT</strong>
    <p>
        Rent must be paid in full for the month, at the time of move-in and will be due on the same day each month. There are 
        no refunds for expulsion or voluntary exit from Stepping Stones.
    </p>

<strong>CONSIDERATION OF OTHERS</strong>: Please be considerate of house brothers.
<ul>
    <li>Knock before entering bathroom</li>
    <li>Do not slam doors</li>
    <li>Keep foul language to a minimum</li>
    <li>Be respectful when others are sleeping</li>
    <li>Keep noise level down</li>
    <li>Maintain personal hygiene</li>
    <li>Raise toilet seat before use</li>
    <li>Exercise cell phone etiquette</li>
</ul>

</article>

}
